@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
/*Miscellaneous*/
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
/*Box model stuff*/
    margin: 0;
    padding: 0;
/*Miscellaneous*/
    box-sizing: border-box;
}

body {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    height: 100vh;
    background-color: #f6f7fb;
/*Typography stuff*/
    font-family: 'Mulish', sans-serif;
/*Miscellaneous*/
    overflow: hidden;
}

.container {
/*Typography stuff*/
    text-align: center;
}

.progress-container {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-between;
/*Positioning stuff*/
    position: relative;
/*Box model stuff*/
    width: 350px;
    max-width: 100%;
    margin-bottom: 30px;
}

.progress-container::before {
/*Display stuff*/
    content: '';
/*Positioning stuff*/
    position: absolute;
    left: 0;
    z-index: -1;
/*Box model stuff*/
    width: 100%;
    height: 4px;
    background-color: var(--line-border-empty);
}

.progress {
/*Positioning stuff*/
    position: absolute;
    left: 0;
    z-index: -1;
/*Box model stuff*/
    width: 0%;
    height: 4px;
    background-color: var(--line-border-fill);
/*Manipulations stuff*/
    transition: width 0.4s ease;
}

.circle {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 3px solid var(--line-border-empty);
    border-radius: 50%;
    background-color: #f6f7fb;
/*Typography stuff*/
    color: #828bac;
/*Manipulations stuff*/
    transition: border-color 0.4s ease;
}

.active {
/*Box model stuff*/
    border-color: var(--line-border-fill);
}

.btn {
/*Box model stuff*/
    width: 100px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--line-border-fill);
/*Typography stuff*/
    font-size: 20px;
    color: #fff;
/*Miscellaneous*/
    cursor: pointer;
}

.btn:active {
/*Manipulations stuff*/
    transform: scale(0.95);
}

.btn:disabled {
/*Box model stuff*/
    background-color: var(--line-border-empty);
/*Miscellaneous*/
    cursor: not-allowed;
}

