@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
/*Box model stuff*/
    margin: 0;
    padding: 0;
/*Typography stuff*/
    font-family: 'Roboto', sans-serif;
/*Miscellaneous*/
    box-sizing: border-box;
}

body {
/*Display stuff*/
    display: flex;
    align-items: center;
/*Box model stuff*/
    height: 100vh;
    background-color: black;
}

.main-img {
/*Positioning stuff*/
    position: relative;
/*Miscellaneous*/
    object-fit: cover;
}

.main-img img {
/*Box model stuff*/
    max-width: 100%;
    height: auto;
/*Manipulations stuff*/
    filter: blur(0px);
    transition: filter 2s linear;
}

.main-img img.loading {
/*Manipulations stuff*/
    filter: blur(20px);
}

.circle {
/*Positioning stuff*/
    position: absolute;
    left: 50%;
    top: 50%;
/*Box model stuff*/
    width: 30px;
    height: 30px;
    border: 2px solid #999;
    border-top: 2px solid #777;
    border-radius: 50%;
    background-color: transparent;
/*Manipulations stuff*/
    transform: translateX(-50%);
    animation: spin 2s linear infinite;
}

.content {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Positioning stuff*/
    position: absolute;
    left: 50%;
    top: 50%;
/*Box model stuff*/
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: transparent;
/*Typography stuff*/
    font-size: 10px;
    color: #666;
}

.remove {
/*Display stuff*/
    display: none;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
