@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Muli&display=swap'); 

* {
/*Box model stuff*/
    margin: 0;
    padding: 0;
/*Typography stuff*/
    font-family: 'Muli', sans-serif;
/*Miscellaneous*/
    box-sizing: border-box;
}

body {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    height: 100vh;
    background-color: blueviolet;
}

.container {
/*Display stuff*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/*Box model stuff*/
    width: 90%;
}

.container figure {
/*Box model stuff*/
    margin: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.448);
/*Typography stuff*/
    color: white;
/*Miscellaneous*/
    cursor: pointer;
}


