@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

* {
/*Box model stuff*/
    margin: 0;
    padding: 0;
/*Typography stuff*/
    font-family: 'Roboto Mono', sans-serif;
/*Miscellaneous*/
    box-sizing: border-box;
}

body {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    height: 100vh;
/*Miscellaneous*/
    overflow: hidden;
}

.bg {
/*Positioning stuff*/
    position: absolute;
/*Box model stuff*/
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    background: url('https://images.unsplash.com/photo-1528360983277-13d401cdc186?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80') no-repeat center center/cover;
/*Manipulations stuff*/
    filter: blur(0px);
}

.loading-text {
/*Positioning stuff*/
    position: absolute;
/*Typography stuff*/
    font-size: 50px;
    color: white;
}




