@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

* {
    font-family: 'Roboto Mono', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

.bg {
    background: url('https://images.unsplash.com/photo-1528360983277-13d401cdc186?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80') no-repeat center center/cover;
    position: absolute;
    height: calc(100vh + 60px);
    width: calc(100vw + 60px);
    filter: blur(0px);
}

.loading-text {
    position: absolute;
    color: white;
    font-size: 50px;
}




