@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
    --left-bg-color: rgba(43, 119, 226, 0.493);
    --right-bg-color: rgba(137, 43, 226, 0.493);
    --left-btn-color: rgba(43, 119, 226, 1);
    --right-btn-color: rgba(137, 43, 226, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.container {
    position: relative;
    height: 500px;
    width: 100%;
}

.split {
    position: absolute;
    width: 50%;    
    overflow: hidden;
    height: 100%;
}

.split.right {
    background: url('https://images.unsplash.com/photo-1596332996407-d8d5d3b60e8e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center;
    right: 0;
}

.split.left {
    background: url('https://images.unsplash.com/photo-1571754344243-93415f05e5ad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80');
    background-size: cover;
    background-position: center;
    left: 0;
}


.split.right::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
    position: absolute;
}

.split.left::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
    position: absolute;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 2.5rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

.hover-left .left, .hover-right .right{
    width: var(--hover-width);
}

.hover-left .right, .hover-right .left{
    width: var(--other-width);
}

.split.right, .split.left, .split.right::before, .split.left::before{
    transition: all var(--speed) ease;
}

.container h2 {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    position: absolute;
    white-space: nowrap;
}

.left .btn:hover {
    background-color: var(--left-btn-color);
    border-color: var(--left-btn-color);
}

.right .btn:hover {
    background-color: var(--right-btn-color);
    border-color: var(--right-btn-color);
}

@media (max-width: 800px) {
    .container h2 {
        font-size: 2rem;
        top: 30%;
    }

    .btn {
        width: 12rem;
        padding: 1.2rem;
    }
}






